<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xin.developer97.halfsaltedfish.spiderconfig">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/king"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/king_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".WebActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetPacket"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".Reward" />

        <activity android:name=".set" />

        <activity android:name=".AntiJump" />
        <activity android:name=".uid" />
        <activity android:name=".Modle" />
        <activity android:name=".SetupScript" />
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".HelperTileService"
            android:icon="@mipmap/crown"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>